@media only screen and (max-width: 1200px) {
    .heading {
      width: 40%;
    }
    .bills-heading{
      width: 50%;
    }
    .team-heading{
      width: 73%;
    }
   
  }
  @media only screen and (max-width: 992px) {
    h2{
      font-size: 23px;
    }
    p{
      font-size: 12px;
    }
    table{
      font-size: 12px;
    }
    .heading{
      width: 30%;
    }
    .team-heading{
      width: 60%;
    }
    .bills-heading{
      width: 40%;
    }
    /* .team-table:after,   .team-table:before {
      height: 263px;
    } */
    table{
      width: 100% !important;
    }
  }
  @media only screen and (max-width: 768px) {
    .heading{
      width: 40%;
    }
    .bills-heading{
      width: 50%;
    }
    .team-heading{
      width: 80%;
    }
    .billing-table:before, .billing-table:after{
      height:280px;

    }
  }
  @media only screen and (max-width: 736px) {
   .thankyou-page-img{
     display: none;

   }


   .orders-div:before{
    content: "";
    border-left: 2px solid #8bc34a;
    height: 38px;
    border-bottom: 2px solid #8bc34a;
    width: 30px;
    position: absolute;
    left: 0;


   }
   .orders-div:after{
   content: "";
   border-right: 2px solid #8bc34a;
   height: 38px;
   border-top: 2px solid #8bc34a;;
   width: 30px;
   position: absolute;
   right: 0;
   top: 2em;
   }
   .row{
     display: flex;
     flex-direction: column;
     
   }
   .order{
     display: block;
    
   }
   
   .orders-div{ 
     padding: 2em 16px;
     width: 100%;
   }

  }
  