body{
    margin: 0;
}
h2{
    color: #8bc34a;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    margin: 0px;
    border-bottom: 1px solid #8bc34a; 
     
}
.heading{
    width: 28%;
    text-align: center;
}
.thankyou{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p{
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    margin: 0px;
}

.order-dec{
    font-weight: bold;
    text-transform:uppercase ;
}
.order-number{
    width: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.order span{
    display: block;
    font-size: 12px;
    color: grey;
    
    text-align: center;
}
.date{
    width: 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}
.order{
    display: flex;
    align-items: center;
}
.email{
    width: 100px;
}
.total{
    width: 100px;
}
.main{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
}
.payment{
    width: 140px;
}
.details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.detail-box{
    padding-top: 40px;
    width: 100%;

}
table .right{
    text-align: right;
   
}
table{
    color: grey;
    position: relative;
    font-size: 16px;
    margin: 0 auto;

  
}
table:before{
    content: "";
    position: absolute;
    border-left: 2px solid #8bc34a;
    height: 137px;
    left: 0;
    border-top: 2px solid #8bc34a;
    width: 40px;

}
table td, table th {
    padding-left: 30px;
    padding-right: 30px;
   

}
table:after{
    content: "";
    position: absolute;
    border-right: 2px solid #8bc34a;
    height: 137px;
    right: 0;
    border-bottom: 2px solid #8bc34a;
    width: 40px;
    top: 0;
}
